<!-- Columns section -->
<div class="card mb-3">
    <div class="card-header bg-secondary text-white">
        Columns
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="columsHeadline">Columns section headline</label>
            <input name="columsHeadline" type="text" class="form-control form-control" value="<%= page.columsHeadline %>">
            <small id="columsHeadlineHelp" class="form-text text-muted">A headline for the colums section.</small>
        </div>
        <div class="form-group">
            <label for="columnsSubtitle">Columns section subtitle</label>
            <input name="columnsSubtitle" type="text" class="form-control form-control" value="<%= page.columnsSubtitle %>">
            <small id="columnsSubtitleHelp" class="form-text text-muted">Subtitle for the columns section.</small>
        </div>

        <!-- Column 1 -->
        <div class="form-group">
            <label for="firstColumnTitle">Column 1 title</label>
            <input name="firstColumnTitle" type="text" class="form-control form-control" value="<%= page.firstColumnTitle %>">
            <small id="firstColumnTitleHelp" class="form-text text-muted">Title for the first column.</small>
        </div>
        <div class="form-group">
            <label for="firstColumnSubtitle">Column 1 subtitle</label>
            <input name="firstColumnSubtitle" type="text" class="form-control form-control" value="<%= page.firstColumnSubtitle %>">
            <small id="firstColumnSubtitleHelp" class="form-text text-muted">Subtitle for the first column.</small>
        </div>
        <div class="form-group">
            <label for="firstColumnDescription">Column 1 description</label>
            <textarea name="firstColumnDescription" class="form-control form-control"><%= page.firstColumnDescription %></textarea>
            <small id="firstColumnDescriptionHelp" class="form-text text-muted">Information about the first column.</small>
        </div>

        <!-- Column 2 -->
        <div class="form-group">
            <label for="secondColumnTitle">Column 2 title</label>
            <input name="secondColumnTitle" type="text" class="form-control form-control" value="<%= page.secondColumnTitle %>">
            <small id="secondColumnTitleHelp" class="form-text text-muted">Title for the second column.</small>
        </div>
        <div class="form-group">
            <label for="secondColumnSubtitle">Column 2 subtitle</label>
            <input name="secondColumnSubtitle" type="text" class="form-control form-control" value="<%= page.secondColumnSubtitle %>">
            <small id="secondColumnSubtitleHelp" class="form-text text-muted">Subtitle for the second column.</small>
        </div>
        <div class="form-group">
            <label for="secondColumnDescription">Column 2 description</label>
            <textarea name="secondColumnDescription" class="form-control form-control"><%= page.secondColumnDescription %></textarea>
            <small id="secondColumnDescriptionHelp" class="form-text text-muted">Information about the second column.</small>
        </div>

        <!-- Column 3 -->
        <div class="form-group">
            <label for="thirdColumnTitle">Column 3 title</label>
            <input name="thirdColumnTitle" type="text" class="form-control form-control" value="<%= page.thirdColumnTitle %>">
            <small id="thirdColumnTitleHelp" class="form-text text-muted">Title for the third column.</small>
        </div>
        <div class="form-group">
            <label for="thirdColumnSubtitle">Column 3 subtitle</label>
            <input name="thirdColumnSubtitle" type="text" class="form-control form-control" value="<%= page.thirdColumnSubtitle %>">
            <small id="thirdColumnSubtitleHelp" class="form-text text-muted">Subtitle for the third column.</small>
        </div>
        <div class="form-group">
            <label for="thirdColumnDescription">Column 3 description</label>
            <textarea name="thirdColumnDescription" class="form-control form-control"><%= page.thirdColumnDescription %></textarea>
            <small id="thirdColumnDescriptionHelp" class="form-text text-muted">Information about the third column.</small>
        </div>
    </div>
</div>